@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(space-between, space-between, 0px);

    flex-direction: column;
    padding: 30px 20px;
    height: 95%;

    .boxBtn {
        @include flex_box_custom(space-between, unset, 10px);
        flex-direction: column;
    }

    .total {
        @include flex_box_custom(space-between, center, 0px);

        font-size: 14px;
        color: $four_color;
        font-weight: 300;

        .price {
            font-size: 16px;
            font-weight: 400;
        }

        .subtotal {
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}
