@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    background-image: url(../../assets/images/HeadlingImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 409px;
    width: calc(100% / 2);
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    color: $four_color;
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.btn {
    margin-top: 20px;
    text-align: center;
}
