@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(space-between, space-between, 0px);

    flex-direction: column;
    padding: 30px 20px;
    height: 95%;

    .boxBtn {
        @include flex_box_custom(space-between, unset, 10px);
        flex-direction: column;
    }
}
