@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.boxImg {
    width: 300px;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 0.5s;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .showFncWhenHover {
        opacity: 0;
        position: absolute;
        right: 0;
        bottom: 20px;
        background-color: #ccc;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
        transition: opacity 0.5s, right 0.5s;
    }

    .boxIcon {
        width: 40px;
        height: 40px;
        @include flex_box_custom(center, center, 18px);

        img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: $four_color;
            transition: background-color 0.5s;
        }
    }
}

.title {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0;
    font-weight: 300;
}

.price {
    font-size: 14px;
    color: $thr_color;
    font-weight: 300;
}
