@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.box {
    background-color: $white_color;
    padding: 10px;
    border-radius: 4px;
    margin-top: 200px;
}

.title {
    font-size: 18px;
    color: $secondary_color;
}
