@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.btn {
    @include btn(173px, 42px, $primary_color, 2px);
    color: $white_color;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: color 500ms, background-color 500ms;

    &:hover {
        @include btn(173px, 42px, transparent, 2px);
        color: $primary_color;
        border: 1px solid $primary_color;
    }
}
