@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center);
    left: 0;
    right: 0;
}

.topHeader {
    position: absolute;
    top: 0;
}

.fixedHeader {
    position: fixed;
    top: -83px;
    z-index: 1000;
    background-color: #ffffffe6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    transform: translateY(83px);
    transition: transform 500ms;
}
.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    height: 83px;
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.containerBoxIcon {
    @include flex_box_custom(center, center);
}

.containerMenu {
    @include flex_box_custom(center, center, 20px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 25px;
    height: 25px;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
}

.menu::after {
    content: '';
    display: block;
    height: 3px;
    margin-top: 6px;
    background-color: $primary_color;

    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
    transform: scale(1);
    opacity: 1;
}
